* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
}

body {
      height: 100vh;
}

/* header code  */

li {
      list-style: none;
      display: flex;
      font-size: 1.5rem;
}

a {
      text-decoration: none;
      color: #fff;
      font-size: 1rem;
}

header {
      position: relative;
      padding: 0.2rem;
}

.navbar {
      width: 100%;
      height: 70px;
      margin: 0 auto;
      padding-left: 1rem;
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #6F6AF7;
}

.navbar .logo {
      height: 1.5rem;
}

.navbar .links {
      display: flex;
      gap: 3rem;
}

.arrow {
      height: 5px;
      margin-top: 7px;
}

.dropdown {
      height: 2rem;
}

.icon-rtl {
      padding-right: 25px;
      background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
      background-size: 20px;
      background-color: #ffff;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 4px;
      border: 2px solid #ffffff;
      border-radius: 20px;
    }

input::placeholder{
      background-color: #ffff;
      
}

/* main  code*/

.image4 {
      height: 25em;

}

.container {
      display: flex;
      gap: 2rem;
      margin-left: 10rem;
      margin-top: 5rem;
}

#textarea {
      border-radius: 20px;
      padding-top: 10px;
      padding-left: 10px;
      background-color: #E5D8FF;
      font-size: 1em;
}


.whatsapp {
      border: 4px solid black;
      border-radius: 12px;
      padding: 5px;
      margin-top: 60px;
}

.icons{
      position: fixed;
      top: 20%;
      left: 94%;
}

/* 4 button */

.button {
      margin-left: 9rem;
      margin-right: 7rem;
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
}

.button_one {
      width: 200px;
      height: 80px;
      padding: 10px;
      font-size: 20px;
      text-align: start;
      font-family: sans-serif;
      font-weight: 700;
      color: #fff;
      border-radius: 11px;
      background: #929DFF;
      box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.button_two {
      width: 200px;
      height: 80px;
      padding: 10px;
      font-size: 20px;
      text-align: start;
      font-family: sans-serif;
      font-weight: 700;
      color: #fff;
      border-radius: 11px;
      background: #734CF2;
      box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.button_three {
      width: 200px;
      height: 80px;
      padding: 10px;
      font-size: 20px;
      text-align: start;
      font-family: sans-serif;
      font-weight: 700;
      color: #fff;
      border-radius: 11px;
      background: #D288FF;
      box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.button_four {
      width: 200px;
      height: 80px;
      padding: 10px;
      font-size: 20px;
      text-align: start;
      font-family: sans-serif;
      font-weight: 700;
      color: #fff;
      border-radius: 11px;
      background: #000;
      box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

.center_image{
      position: fixed;
      height: 7rem;
      margin-left: 75rem;
      
}

/* footer buttons and textarea  */

.info {
      height: 70vh;
      background-color: #483EFF;
      margin-left: 9rem;
      margin-right: 7rem;
      margin-top: 5rem;
      border-radius: 10px;
      display: flex;
}

.button1 {
      width: 200px;
      height: 80px;
      padding: 10px;
      font-size: 20px;
      text-align: center;
      font-family: sans-serif;
      font-weight: 700;
      color: black;
      border-radius: 13px;
      background: #BCE0F6;
      margin: 2rem;
      margin-top: 5rem;
}

.button2 {
      width: 200px;
      height: 80px;
      padding: 10px;
      font-size: 20px;
      text-align: center;
      font-family: sans-serif;
      font-weight: 700;
      color: #fff;
      border-radius: 13px;
      border: 3px solid white;
      background-color: #483EFF;
      margin: 2rem;
}

.button3 {
      width: 200px;
      height: 80px;
      font-size: 20px;
      text-align: center;
      font-family: sans-serif;
      font-weight: 700;
      color: #fff;
      border-radius: 13px;
      border: 3px solid white;
      background-color: #483EFF;
      margin: 2rem;
}

.data {
      height: 62vh;
      width: 800px;
      background-color: #fff;
      margin-left: 9rem;
      margin-right: 7rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-radius: 10px;
}

.heading_text {
      color: #04285A;
      font-family: sans-serif;
      font-size: 38px;
      font-weight: 700;
      letter-spacing: 3.99px;
      margin-top: 2rem;
      margin-left: 2rem;
}

.input{
      margin-left: 5rem;
      margin-bottom: 3rem;
      font-size: 30px;
}


.input_data{
      font-size: 20px;
      text-align: start;
      margin-top: 20px;
}

.next{
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: #000;
      color: #ffffff;
      font-size: 1rem;
      margin-top: 4rem;
      margin-left: 37rem;
}